<% @my_contests = ::Contest.all %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concourts ouverts <span class="badge"><%= @my_contests.size %></span><b class="caret"></b></a>
  <ul class="dropdown-menu">
		<% for contest in @my_contests %>
    <li><%= link_to contest.title, contest %></li>
		<% end %>
  </ul>
</li>