<div class="modal-body">
<strong>Nombre de voix restantes : <span id="remaining_votes" class="badge"><%= contest.remaining_votes_for_user(session[:cas_user]) %></span></strong>
	<div class="row">
	<% if photos.size > 0 %>
		<% for photo in photos %>
			<%= render :partial => '/photos/photo_small', :locals => { :photo => photo } %>
		<% end %> <!-- for photo-->
	<% else%>
		<h4 class="text-center no-photo discreet">Aucune photo pour ce concours.<h4>
	<% end %>
	</div>		

</div>