<h2 class="modal-title">Administrer le concours</h2>
<div class="row">
	<div class="col-sm-12 text-right">
		<p> 
			<span class="discreet"><%= contest_status_sentence(@contest) %></span>
			<%= status_label(@contest.status) %>
		</p>
	</div>
</div>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Modifier</a></li>
  <li><a href="#profile">Participations <span class="badge"><%= @contest.photos.size %></span></a></li>
  <li><a href="#messages">Votes <span class="badge">0</span></a></li>
</ul>

<div class="modal-body">
<%= render 'form' %>
</div>

