<div class="jumbotron">
   <h1>Concours Photo du LORIA</h1>
	<img src="/assets/cameralens400.png" class="img-responsive" />
   <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
 </div>

<h2 class="text-center plain-title">CONCOURS OUVERTS</h1>
<% @contests.each do |contest| %>
<div class="row open-contests">
	 	<h3 class="text-center"><%= contest.title %></h3>
	 <h4 class="text-center discreet">Termine dans <%= distance_of_time_in_words_to_now contest.date_end %></h4>
	 <p class="text-center"><%= contest.body %></p>
   <p class="text-center"><%= link_to 'Participer et gagnez peut-être un iPad', contest, :class => 'btn btn-lg btn-primary' %>
 </div>
</div>
<% end %>

<h2 class="text-center plain-title discreet">CONCOURS CLOS</h1>
<h5 class="text-center discreet">Il n'y a aucun concours clos enregistré<h5>
