// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-photos
	{
	min-height: 300px;
	}
	.my-photos .no-photo
		{
		margin-top: 100px;
		}

.photo-display	
	{
	display: table;
	margin: 0px auto 0px auto;
	height: 360px;
	}
	
	.photo-title
	{
  display: table-row;
	height:60px;
	text-align:center;
	}
	
	.photo-display h4
		{
		display: table-cell;
	  vertical-align: middle;
		text-align:center;
		color: #999;	
		}
		
	.photo-frame 
		{
		display: table-row;
		padding: 0px;
		max-width: 300px;
		height: 300px;
		}
		
		.photo-frame a
			{
			display: table-cell;
			vertical-align: middle;
			padding: 0px;
			max-width: 300px;
			height: 300px;
			}

		.photo-frame img 
		{
		margin:0 auto 0px auto;
		border: 6px solid white;
		box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
		border-radius: 5px;
		}